@font-face {
	font-family: "Roboto Light";
	src: url(font/Roboto-Light.ttf)
}

@font-face {
	font-family: "Roboto Regular";
	src: url(font/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Roboto Medium Italic";
	src: url(font/Roboto-MediumItalic.ttf);
}

body {
    margin: 0 0;
		padding: 0 0;
		font-family: "Roboto Light";
		background-color: #3aafa9;
}

.topbox {
  font-size: 25px;
}

.topbox ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3aafa9;
	max-width: 100%;
}

.flex-navbar {
	display: flex;
	justify-content: center;
	margin-right: 15%;
	font-family: "Roboto Light";
}

.leftbox {
	margin-left: 5%;
	font-family: "Roboto Medium Italic";
	color: #171717;
}

.flex-navbar .active {
  color: #171717;
}

.topbox li a {
  display: block;
  color: #feffff;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
	font-size: 1em;
	float: left;
	text-align: center;
}

.flex-navbar li a:hover {
  color: #2b7a78;
}

.indexClickbox{
	background-color: #2b7a78;
}

.index{
	display: flex;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}

.index h1{
	font-size: 8rem;
}

.indexTXT{
	width: 50%;
	float: right;
	font-size: 2rem;
}


.index img{
	max-width: 100%;
}

.indexIMG{
	width: 50%;
	float: left;
	background-color: brown;
}

.indexClickbox1{
	width: auto;
	float: left;
	margin-left: 5%;
	background-color:#2b7a78;
	font-weight: 500;
	font-size: 3rem;
	color: #3aafa9;
}
.indexClickbox2{
	width: auto;
	float: right;
	margin-right: 5%;
	background-color: #2b7a78;
	font-weight: ;
	font-size: 3rem;
	color: #3aafa9
}
@media (max-width:1200px) {
	.indexsIMG {
	  display: none !important;
	}
 }

.footer{
   
}